body
	{
		background: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		position: relative;
	}


html,body {
      width: 100%;
	  overflow-x: hidden;
  }

h1,h2,h3,h4 {
  font-weight: 400;
  letter-spacing: 6px;
}

.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}

p {
  letter-spacing: 1px;
  line-height: 28px;
}

a {
  outline: none !important;
}

hr {
  width: 100px;
}

strong {
  font-size: 50px;
}

.section-title {
  padding-bottom: 32px;
}

.medium-icon {
  font-size: 32px !important;
}

#feature, #team, #howitworks, #pricing, #contact, #explainervideo, #login, #admin, #messages {
   padding-top: 100px;
   padding-bottom: 100px;
}

#feature, #team, #howitworks, #pricing, #explainervideo, #admintitle {
  text-align: center;
}

#team, #howitworks, footer, #explainervideo {
  background: #2b2b2b;
  color: #ffffff;
}



/* ==========================================================================
navigation section
========================================================================== */
.sticky-navigation {
    opacity: 0;
  }
.navbar-default {
    background: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0 !important;
     padding: 0;
  }
.navbar-default .navbar-brand {
    color: #ffcc44;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
     padding: 12px 0px 0px 12px;
  }
.navbar-default .navbar-nav li a {
    color: #606060;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 11px;
    line-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
.navbar-default .navbar-nav li a:hover {
    color: #ffcc44;
  }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffcc44;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffcc44;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }
.navbar-default .navbar-toggle .icon-bar {
    background: #aac1bf;
    border-color: transparent;
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent 
}


/* ==========================================================================
home section
========================================================================== */
#home {
  background: #ffcc44;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  min-height: 650px;
  padding-top: 220px;
  text-align: center;
}
#home h1,
#home h3 {
  font-size: 100px;
  font-weight: 600;
}
#home .btn {
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in;
}
#home .btn:hover {
  background: #aac1bf;
  border-color: transparent;
}
#home .btn-danger {
  background: #aac1bf;
  border-color: transparent;
}

/* ==========================================================================
explainer video section
========================================================================== */
#explainervideo{
	background: #4da6ff;
}

#explainervideo h2{
	padding-bottom: 5px;
}

/* ==========================================================================
feature section
========================================================================== */
#feature .col-md-12 {
  padding-top: 30px;
  padding-bottom: 40px;
}
#feature h3 {
  font-size: 16px;
}


/* ==========================================================================
howitworks section
========================================================================== */
#howitworks{
	background: #4da6ff;
}
#howitworks {
  padding-bottom: 0;
}
#howitworks h3 {
  color: #d9d9d9;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

#howitworks h4 {
  font-weight: bold;
  letter-spacing: 4px;
}


#howitworks .team-wrapper  {
  position: relative;
  cursor: pointer;
  padding-top: 60px;
  padding-bottom: 60px;
  bottom: 40px;
  text-align: left;
}



/* ==========================================================================
team section
========================================================================== */
#team {
  padding-bottom: 0;
}
#team .col-md-4 {
  padding: 10px;
}
#team h3 {
  color: #ffcc44;
  font-size: 14px;
  font-weight: bold;
}

#team .team-wrapper .team-des {
  position: relative;
  cursor: pointer;
  padding-top: 60px;
  padding-bottom: 60px;
  bottom: 40px;
  transition: all 0.4s ease-in-out;
}

#team .team-wrapper:hover .team-des {
  background: #3b3b3b;
  bottom: 60px;
}




/* ==========================================================================
pricing section
========================================================================== */
#pricing .plan {
  background: #aac1bf;
  padding: 40px 0px 60px 0px;
  margin-top: 60px;
  margin-bottom: 32px;
}
#pricing .plan .plan_title {
  background: #f9f9f9;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
#pricing h2 {
  border-bottom: 1px solid #bbc1bf;
}
#pricing .plan h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 180px;
}
#pricing .plan h2 {
  font-weight: bold;
  padding: 30px;
}
#pricing .plan ul {
  padding: 0px;
}
#pricing .plan ul li {
  display: block;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 30px 0px 10px 0px;
}
#pricing .plan .btn {
  background: #ffffff;
  border: none;
  border-radius: 0px;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 60px;
  transition: all 0.4s ease-in;
  margin-top: 20px;
  text-transform: uppercase;
}
#pricing .plan .btn:hover {
  background: #eeeeee;
}


/* ==========================================================================
contact section
========================================================================== */
#contact {
  background: #f9f9f9;
  padding-bottom: 0;
}
#contact .contact-address {
  color: #000000;
  position: relative;
  top: 140px;
}
#contact .contact-address p {
  line-height: 16px;
}
#contact .contact-email,
#contact .contact-phone, #contact .contact-website {
  padding: 100px;
}
#contact .contact-email {
  background: #aff5a1;
}
#contact .contact-phone {
  background: #ffcc44;
}
#contact .contact-website {
  background: #a1e6f5;
}
#contact h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 12px;
}
#contact .medium-icon {
  color: #ffffff;
  font-size: 28px !important;
}
#contact .contact-info div {
  padding-top: 14px;
  padding-bottom: 14px;
}
#contact .form-control {
  background: none;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #aac1bf;
  box-shadow: none;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in;
}
#contact .form-control:focus {
  border-bottom-color: #202020;
}
#contact input {
  height: 60px;
}
#contact input[type="submit"] {
  border: 2px solid #009988;
  color: #2b2b2b;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 18px;
}
#contact input[type="submit"]:hover {
  background: #009988;
}


/* ==========================================================================
footer section
========================================================================== */
footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer p {
  padding-top: 20px;
}
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.social-icon li a {
  border: 1px solid #aac1bf;
  border-radius: 50%;
  color: #aac1bf;
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in;
}
.social-icon li a:hover {
  background: #aac1bf;
  color: #2b2b2b;
}


/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width: 460px) {
  #home {
    padding-top: 120px;
  }
  #home h3 {
    font-size: 34px;
  }
  #contact .contact-address {
    text-align: center;
  }
  #contact .contact-email,
  #contact .contact-phone, #contact .contact-website {
  padding: 100px 60px 100px 60px;
}
  #contact .medium-icon {
    display: block;
    margin-bottom: 24px;
  }
}