<!-- admin section -->
    <section id="admin">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 id="admintitle"><span class="bold">ADMIN CONSOLE</span></h2>
                </div>
            </div>
            <div ng-controller="safeCtrl">

                <button type="button" ng-click="addRandomItem()" class="btn btn-sm btn-success">
                    <i class="glyphicon glyphicon-plus">
                    </i> Add Trip
                </button>
                <button type="button" ng-click="removeItem()" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i> Delete Trip
                </button>

                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                    <thead>
                    <tr>
                        <th st-sort="email">Email</th>
                        <th st-sort="firstName">First Name</th>
                        <th st-sort="lastName">Last Name</th>
                        <th st-sort="tripID">TripID</th>
                        <th st-sort="tripType">TripType</th>
                        <th st-sort="departureCity">DepartureCity</th>
                        <th st-sort="arrivalCity">ArrivalCity</th>
                        <th st-sort="departureTime">Departure Time</th>
                        <th st-sort="arrivalTime">Arrival Time</th>
                    </tr>
                    <tr>
                        <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.email}}</td>
                        <td>{{row.firstName}}</td>
                        <td>{{row.lastName}}</td>
                        <td>{{row.tripID}}</td>
                        <td>{{row.tripType}}</td>
                        <td>{{row.departureCity}}</td>
                        <td>{{row.arrivalCity}}</td>
                        <td>{{row.departureTime}}</td>
                        <td>{{row.arrivalTime}}</td>
                    </tr>
                    </tbody>
                </table>

	       </div>
        </div>		
    </section>