<!-- feature section -->
<section id="feature">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<h1 class="heading bold">FEATURES</h1>
					<hr>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0s">
				<div class="col-md-12 col-sm-12">
					<i class="icon-cloud medium-icon"></i>
					<h3>CO-TRAVELLERS</h3>
					<hr>
					<p>Whether you travel by air, train or bus, you have to sit next to another person. POWWOW makes your journey much more comfortable and pleasant by matching you with your co-travelers so that you can choose who you want to sit next to. Whether you are the kind of person that likes to not be disturbed or someone who likes to talk or play board games etc... during your journey, POWWOW will help you find the right travel mate. </p>
				</div>
				<div class="col-md-12 col-sm-12">
					<i class="icon-mobile medium-icon"></i>
					<h3>NETWORKING</h3>
					<hr>
					<p>Interested in social and business networking while traveling? POWWOW allows you to do just this by matching users based on their Facebook/linked-in profiles. </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0s">
				<img src="img/sameflight.png" class="img-responsive" alt="features img">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0s">
				<div class="col-md-12 col-sm-12">
					<i class="icon-cloud medium-icon"></i>
					<h3> CAR POOL </h3>
					<hr>
					<p>Stressed out about how to get to the airport,bus station or train station? POWWOW matches you with people from your area who need to be at the airport at the same time as you so that you can car pool with them. POWWOW also shows you people from your area who are leaving the airport at the same time.</p>
				</div>
				<div class="col-md-12 col-sm-12">
					<i class="icon-mobile medium-icon"></i>
					<h3>PRIVACY</h3>
					<hr>
					<p>At POWOW, we understand that each user has their own privacy concerns. Users can sign in using Facebook or Linkedin. Users have full control over what they want to show or not show from their profiles to other users.</p>
				</div>
			</div>
		</div>
	</div>
</section>