    <!-- home section -->
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3 class="wow bounceIn">POWWOW</h3>
                    <h2><span class="bold">Making Travel Better</span></h2>
                    <img src="img/background1.png" class="img-responsive wow fadeInUp" data-wow-delay="1.6s" alt="app img">
                </div>
            </div>
        </div>		
    </section>
