<!-- howitworks section -->
<section id="howitworks">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<h1 class="heading bold">HOW IT WORKS</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 img1" >
				<div class="team-wrapper">
					<div class="team-des">
							<h4>SIGN IN</h4>
							<h3>Sign-in using Facebook/LinkedIn to pull in your profile details</h3>
					</div>
					<img src="img/splash.png" class="img-responsive" alt="SignIn Screen for App">
						
				</div>
			</div>
			<div class="col-md-4 col-sm-4 img2" >
				<div class="team-wrapper">
					<div class="team-des">
							<h4>ADD TRIPS</h4>
							<h3>Add your upcoming trips in the app or import them via email</h3>
					</div>
					<img src="img/homescreen.png" class="img-responsive" alt="team img">
						
				</div>
			</div>
			<div class="col-md-4 col-sm-4 img3" >
				<div class="team-wrapper">
					<div class="team-des">
							<h4>FIND OTHERS</h4>
							<h3>Discover people traveling by the same flight/bus/train</h3>
					</div>
					<img src="img/sameflightsmall.png" class="img-responsive" alt="team img">
				</div>
			</div>
			<div class="col-md-4 col-sm-4 img4" >
				<div class="team-wrapper">
					<div class="team-des">
							<h4>FIND OTHERS - CARPOOL</h4>
							<h3>Discover people from your area to carpool to/from the airport/bus station/train station. </h3>
					</div>
					<img src="img/profile_kathy_toairport.png" class="img-responsive" alt="team img">
				</div>
			</div>
			<div class="col-md-4 col-sm-4 img6" >
				<div class="team-wrapper">
					<div class="team-des">
							<h4>ITS A MATCH</h4>
							<h3>If both users show interest in each other, Powow matches them </h3>
					</div>
					<img src="img/itsamatch.png" class="img-responsive" alt="team img">
				</div>
			</div>
			<div class="col-md-4 col-sm-4 img7" >
				<div class="team-wrapper">
					<div class="team-des">
							<h4>CONNECT</h4>
							<h3>Once a match has been made, users can choose to chat within the app</h3>
					</div>
					<img src="img/chats.png" class="img-responsive" alt="team img">
				</div>
			</div>
		</div>
	</div>
</section>