<section id="login">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <form name="form" ng-submit= "login()" role="form">
                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>

    <section id="messages">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-3">
                <div ng-class="{'alert': message, 'alert-success': type=='success', 'alert-danger': type=='error'}">
                {{message}}
                </div>
            </div> 
        </div>
    </section>
    
    
</section>