<section id="privacy">
	<div class="container">
    <h3><font color=#7AAE3F>Privacy Policy</font></h3>
        <br><br>
        <h3>Introduction</h3>
        <br>
        <h4>PURPOSE OF POLICY:</h4>
                        <p>The Privacy Policy describes the policies and procedures followed by the Company with respect to collection, use and disclosure of your Information and other data that We gather when you are accessing the Website, Application and the Service being offered. We receive information about you from various sources, including: (i) if you register for using our Application through your Facebook account (your "Account") and (ii) when you download and use the Application and (iii) when you sign in through third party websites. When you download the Application, you are consenting to the collection, transfer, storage, disclosure and other uses of your Information as described in this Privacy Policy.</p>
                        <h4>NOTICE CONCERNING CHILDREN:</h4>
                        <p>Although our Service is a general audience Service where we connect people while travelling to a certain destination, we restrict the use of our service to individuals aged 18 and above. We do not knowingly collect, maintain, or use personal information from children under the age of 18. We require users to be at least 18 years of age. We do not intend for anyone under the age of 18 to use any of the features or services we offer from the Site, and we certainly do not direct any of our content specifically at children under 18 years of age. We understand and are committed to respecting the sensitive nature of children’s privacy online.

                        <h3>Information Collection Practices</h3>
                        <br>
                        <h4>INFORMATION YOU PROVIDE:</h4>
                        <p>In order to register as a User with Us, you will be asked to sign in using your Facebook login. If you do so, you authorize us to access certain Facebook account information, such as your public Facebook profile (consistent with your privacy settings in Facebook), your email address, interests, likes, gender, age, education history, relationship interests, current city, photos, personal description, friend list, professional history, school info, and information about and photos of your Facebook friends who might be common Facebook friends with other Users. We also may collect personal information that you provide to us, such as your name, address, phone number, email address and, if you transact business with us, financial information. With your permission, we may also access other personal information on your device, such as your phone book, calendar or messages, in order to provide services to you. <br><br>

        You can adjust your account settings to control the amount of information you share with others even though some settings may be needed to take advantage of certain Services being offered. You can make changes to the following features of your profile on the Application such as introduction, profile picture, professional details, school info, age. You cannot change the interests imported from Facebook.
        </p>

                        <h4>INFORMATION COLLECTED AUTOMATICALLY:</h4>
                        <p>We may also automatically collect Information other than Personal Information from You through the Website or Application when You visit and /or use the Website or Application. Such information may be stored in server logs. Such Non-Personal Information would not assist us to identify You personally and may include information such as hardware model, phone model, operating system version, unique device identifiers, and mobile network information including phone number, location, URL that you just came from (whether this URL is on our Website(s) or not), which URL you next go to (whether this URL is on our Website(s) or not), your computer browser information, IP address and cookie information and Your usage details such as time, frequency, duration and pattern of use, features used and the amount of storage used. We treat this data as Non-Personal Information, except where we are required to do otherwise under applicable law.. The information collected by our Service may be sent to our servers located in India and countries around the world.</p>


                        <h3>TECHNOLOGIES USED TO COLLECT INFORMATION</h3>
                        <p> We use various technologies to collect information from your device and about your activities on our Service. We automatically collect information from your browser or device when you visit our Service. This information could include your IP address, device ID and type, your browser type, the operating system used by your device and access times. Cookies and other Unique Identifiers: We may use technologies like cookies (small files stored by your browser), or unique device identifiers to anonymously identify your computer or device so we can deliver a better experience. Our systems also log information like your browser, operating system and IP address. Information collected by third-parties for advertising purposes: We may allow service providers, advertising companies and ad networks, and other third parties to display advertisements on our Service. These companies may use tracking technologies, such as cookies to collect information about users who view or interact with their advertisements. 
        </p>

                        <h3>Use and Sharing of Information</h3>
                        <br>
                        <h4>HOW WE USE YOUR INFORMATION</h4>
                        <p>We may use information that we collect about you to administer and personalize the services for you, enable your access to and use of our services, publish information about you on our site, send you marketing/promotional communication, deliver and improve our products and services, and manage our business, provide you with an enhanced experience when using the Services while suggesting and recommending matches best suited for the User, connect like-minded people traveling by the same mode of transport(flight/train/bus) to the same destination, connect people from the same general location who might be traveling around the same time to an airport/railway/bus station so that they can share a ride which is eco-friendly and money saving at the same time, send to you statements and invoices and, collect payments from you, manage your account and provide you with customer support, communicate with you by email, postal mail, telephone and/or mobile devices about products or services that may be of interest to you either from us or other third parties, provide your information to our third party partners for marketing or promotional purposes, use Personal Information and non-personally identifiable information and other information (including information from online and offline third party sources) to create aggregated data for analytical and other purposes. Use this information to do internal research on Users' demographics, interests, and behavior to better understand, protect and serve Users. This information is compiled and analyzed on an aggregated basis.
        </p>

                        <h4>SHARING OF INFORMATION:</h4>
                        <p>We do not share your personal information with others except as indicated in this Privacy Policy or we would inform you and give you an opportunity to opt out of having your personal information shared. We will not share your personal information with any third parties without your consent, except as necessary to provide you with the services offered by us, with third-party vendors, consultants and service providers who need access to this data to carry out their work for us, to protect the rights or property of Powwow, in an emergency to protect the personal safety of Powwow's employees, customers or any other person, to the extent required during the negotiation of a merger, sale, financing or acquisition, or to comply with the law. We may use your personal information to verify your identity, to check your qualifications, or to follow up with transactions initiated on the Site. We may also use your contact information to inform you of any changes to the Site, or to send you additional information about Powwow.  <br><br>
                            When you register as a User, your profile will be viewable by other Users of the Service. Other Users will be able to view information you have provided to us directly or through Facebook, such as your Facebook photos, any additional photos you upload, your name, your age, approximate distance in kilo meters between the Users, your personal description, and information you have in common with the person viewing your profile, such as common Facebook friends and likes. If you swipe right to say “yes” to a person, you will be able to chat with that person if they swipe right to you, e.g., when you have a “match.” If you chat with your match, your match will see the content of your chat. We may share personal information (such as name, address, email or phone number) with our trusted partners in order to provide you with relevant advertising, offers or services. <br><br>
                            Third Party Service Providers: We may disclose your Personal Information to third parties such as trusted partners who work on behalf of or with us under confidentiality agreements. These entities may use your Personal Information for performing marketing services, delivering goods or services, administering promotions, analyzing data and usage of the Service through the Website and Application, processing credit card payments, operating the Service or providing support and maintenance services for the same, or providing customer service. Our partners provide assurance that they take reasonable steps to safeguard the data they hold on our behalf, although data security cannot be guaranteed. Analytics companies may access anonymous data (such as your IP address or device ID) to help us understand how our services are used.<br><br>
                            Ad companies: We may disclose other Non-Personally Identifiable Information to third party advertisers and advertising agencies, partners, and other parties in order for the Company and such third parties to analyze (a) the performance of, to operate and improve the Services offered through the Website and Application, and (b) the behavior of Users and to target offers to Users depending upon their requirements. We may also disclose, use or publish this information for promoting the Services offered under the Website(s) and/or Application(s). These third parties are subject to confidentiality agreements with us and other legal restrictions that prohibit their use of the information we provide them for any other purpose except to facilitate the specific outsourced operation, unless you have explicitly agreed or given your prior permission to them for additional uses.<br><br>
                            Third Party Websites: There may be a number of places on our Service where you may click on a link to access other websites that do not operate under this Privacy Policy. For example, if you click on an advertisement on our Service, you may be taken to a website that we do not control and do not bear any responsibility. These third- party websites may independently solicit and collect information, including personal information, from you and, in some instances, provide us with information about your activities on those websites. We recommend that you consult the privacy statements of all third-party websites you visit by clicking on the “privacy” link typically located at the bottom of the webpage you are visiting. You agree that we shall not be liable for any breach of your privacy of Personal Information or loss incurred by your use of these websites. We are not responsible for the privacy policies and/or practices on other sites. This Privacy Policy only governs information collected by the Company.


                        </p>


                        <h4>OTHER SITUATIONS</h4>
                        <p>To operate the service, we also may make identifiable and anonymous information available to third parties in circumstances: (1) with your express consent, (2) where Your consent will not be required for disclosure i.e. when we have a good faith belief it is required by law, it is necessary to protect our rights or property, or to any successor or purchaser in a merger, acquisition, liquidation, dissolution or sale of assets, but we will attempt to notify you, to the extent permitted by law to do so.

        Please remember that if you choose to provide personal information using certain features of the Service that information is governed by the privacy settings of those particular features and, unless selected otherwise, may be available to the Users of the Application or may be published on the Website, which is subject to indexing by third party search engines. Individuals reading this information may use or disclose it to other individuals or entities without our control and without your knowledge. Therefore, we urge you to think carefully about including any specific information.
        </p>

                        <h3>Security</h3>

                        <p>We take security measures to help safeguard your personal information from unauthorized access and disclosure, and as specified by applicable law. While we take these reasonable efforts to safeguard your personal information, you acknowledge and agree that no system or transmission of data over the Internet or any other public network can be guaranteed to be 100% secure. Once you display your image on the website, we are not responsible for what others do with your image. Users should also take care with how they handle and disclose their personal information and should avoid sending personal information through insecure email. </p>

                        <h3>AMENDMENTS TO THIS POLICY</h3>
                        <p>We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we decide to change our Privacy Policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it. Any changes to our Privacy Policy will be communicated through our Application at least ten (10) days in advance of implementation. We recommend that you check our Service from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies. Users are bound by any changes to the Privacy Policy when they continue to use the Application after such changes have been first posted.</p>

        <h3>DELETION OF YOUR ACCOUNT</h3>
                        <p>We remove your personal information (such as your name, address, email or phone number) and other preferences associated with your account within 90 days after you delete your account. However, your chat history with other Users that is available on the servers will be deleted only when the other users delete their account. User at all times has the right to withdraw consent by communicating it to Company or discontinuing use by deleting the Application.</p>	


                        <h3>Contact Information</h3>
                        <br>
                        <h4>CONTACTING US</h4>
                        <p>If you have any questions about this Privacy Policy, please feel contact us at <a href="mailto:support@powwowtravelapp.com" > support@powwowtravelapp.com</a> with subject line “Privacy Policy”.</p>
                        <h4>GRIEVANCE OFFICER</h4>
                        <p>In accordance with Information Technology Act 2000 and rules made there under, in case of grievances you can contact <br>Skunk Works, 10-1-85, Siripuram, Visakhapatnam,Andhra Pradesh,530003<br> In the event you wish to make a complaint regarding any violation of the provisions of the Privacy Policy, you may send a written complaint to the Grievance Officer, who shall redress the complaint within one (1) month.</p>
    </div>
</section>