<!-- team section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<h1 class="heading bold">POWWOW TEAM</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInLeft" >
				<div class="team-wrapper">
					<img src="img/Adarsh.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>ADARSH</h4>
							<h3>FOUNDER</h3>
						</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" >
				<div class="team-wrapper">
					<img src="img/roy.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>ROY</h4>
							<h3>FOUNDER</h3>
						</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInRight" >
				<div class="team-wrapper">
					<img src="img/Brunda.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>BRUNDA</h4>
							<h3>LEGAL CONSULTANT</h3>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>